html {
  background:#706e66;
  color: #706e66;
}

.content {
  margin-top:25px;
  padding:25px;
  background: white;
}

#flash div {
  border:1px solid #D6D5CE;
  color:white;
  font-size:16px;
  margin-top:25px;
  margin-bottom:25px;
  padding:10px;
  width:860px;
}

#flash .error {
  background:#FF1400 none repeat scroll 0 0;
}

#flash .notice {
  background:#706e66;
}

#sessions {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;

  background:white;

  padding:25px;
  width: 350px;
}

#sessions h1 {
  margin-bottom:25px;
  text-align: center;
}

#sessions input.field {
  width: 331px;
}

form label {
  display:block;
  padding: 5px 0px;
  font-weight:bold;
}

form label.remember_me { display:inline; }

form p {
  margin-bottom:10px;
}

form input.submit { float:right; }

form input.field { 
  padding: 5px;
  font-size:14px; 
}

#sessions.content #flash div { width:325px; }

#session_toolbar { float:right; }

.clear { clear:both; }
